*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
}


.action-cont{
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
}

.page-action{
    margin: 0.5rem;
    color: #f1f2f6;
}
.cell-cont{
     height: 3rem;
     background-color: lightsalmon;
     display: flex;
     align-items: center;
     padding-left: 1rem;
}

.cell-cont > *{
    display: inline-block;
    margin-right: 1rem;
}

.cell-cont > select{
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-family{
    padding: .2rem;
}

.font-size{
    padding: 0.2rem;
}

.formula-cont{
    height: 3rem;
    background-color: lightblue;
}





.grid-cont{
    height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
    background-color: #fdfdfd ;
}

.sheet-cont {
    height: 3rem;
    background-color: lightcoral;
    display: flex;
    align-items: center;
}

.sheet-cont > *{
    display: inline-block;
}

.sheet-add-icon{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.sheet-folder-cont {
    height: 1rem;
    background-color: yellow;
    display: inline-block;
    width: 5rem;
}